// mobile media query
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// tablet media query
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

// fonts
$font_header : 'Nunito', sans-serif;
$font_body   : 'Nunito', sans-serif;

body {
  padding: 0;
  margin: 0;
  font-family: $font_body;
}

.container {
  width: 100%;
  height: auto;
}

img {
	max-width: 100%;
    display: block;
    margin: 0 auto;
}

select {
	padding: 5px;
    font-family: Nunito;
    border-radius: 5px;
}

label {
	margin: 0.7em 0;
}
html {
	scroll-behavior: smooth;
}

.deepdrum-container {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;	
	background-attachment: fixed;
}

.deepdrum-wrapper {
	height: 100%;
	width: 100%;
	background-color: #000;
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.deepdrum-header {
	width: 100%;
	text-align: center;
	padding: 0px 20px;
	height: 10%;
	@include mobile {
		padding: 0px;
		height: 10%;
	}
	@include tablet {
		height: 10%;
	}
	h3 {
		display: flex;
	    justify-content: center;
	    align-items: center;
		font-family: "Pacifico", cursive;
	    font-size: 2rem;
	    color: white;
	    margin: 0px;
	    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	    padding: 20px;
	    height: 100%;

	    @include tablet {
	    	font-size: 2.5vw;
	    	height: 100%;
	    }

	    @include mobile {
	    	font-size: 4.7vw;
		    padding: 5px;
		    background-color: #01d0ff;
		    background-image: linear-gradient(223deg, #01d0ff 0%, #fd23c2 100%);
		    height: 100%;
	    }
	}
}

.text-create {
	margin-top: 0;
	color: black;
	font-size: 13px;
	@include mobile {
		font-size: 11px;
	}
	a {
	    color: black !important;
	    text-shadow: none;
	    border-radius: 5px;
	    font-size: 13px;
	}
	a:hover {
		text-decoration: none !important;
		background-color: #47f5a3;
		border-bottom: 0px !important;
	}
}

.deepdrum-drumkit-info {
	width: 70px;
    height: 100%;
    font-size: 9px;
    border-radius: 5px;
    padding: 0 5px;
    color: #949494;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18181b;
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.deepdrum-drumkit-info:hover {
	background-color: #f62e2e;
	color: white;
}

.deepdrum-flex {
	display: flex;
	height: 100%;
	padding: 2%;
	@include mobile {
		padding: 0;
	}
	@include tablet {
		padding: 2%;
	}
}

.deepdrum-flex-items {
	background-color: #050505;
    margin: 0 20px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 11px 26px rgba(0, 0, 0, 0.31), 0 4px 9px rgba(0, 0, 0, 0.56);
    @include mobile {
    	padding: 5px;
    	box-shadow: none;
    	border-radius: 0px;
    }
}

.deepdrum-control-box {
	flex: 1;
	padding: 20px;
	@include mobile {
		padding: 5px;
	}
	p {
		color: #ffffff;
		font-size: 11px;
		margin: 0px !important;
		font-family: "Muli";
	    line-height: 20px;
		@include mobile {
			font-size: 9px;
    		line-height: 20px;
		}
	}
	input[type="range"] {
		color: white;
	}
	.range-field {
		font-family: $font_body !important;
	}
}


.deepdrum-top-control-box {
	padding: 20px;
    display: flex;
    flex-direction: column;
	@include mobile {
		padding: 0;
	}
	p {
		color: white;
		font-size: 11px;
		margin: 0px !important;
		font-family: "Muli";
	    line-height: 20px;
		@include mobile {
			font-size: 9px;
		}
	}
	input[type="range"] {
		color: white;
	}
	.range-field {
		font-family: $font_body !important;
	}
}

.deepdrum-playback {
	position: relative;
	display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: 0px auto;
    border-radius: 20px;
    @include mobile {
    	width: 100%;
    	padding: 0;
    	border-radius: 0px;
    }
    @include tablet {
    	width: 70%;
        border-radius: 20px;
    }
}

.deepdrum-kit-selector {
	display: flex;
	width: 100%;
	height: 10%;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0px auto;
	@include mobile {
		padding: 0px;
		width: 100%;
	}
}

.deepdrum-step-sequencer {
	display: flex;
	flex: 1;
	width: 100%;
	padding: 0 10px;
	@include mobile {
		padding: 0px;
	}
}

.deepdrum-playback-control {
	display: flex;
	width: 100%;
	height: 15%;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 0px auto;
	background-color: transparent;
	@include mobile {
		padding: 0;
		width: 100%;
		height: 10%;
	}
}

.deepdrum-playback-piano {
	display: flex;
	width: 100%;
	height: 15%;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 0px auto;
	background-color: transparent;
	@include mobile {
		padding: 0;
		width: 100%;
	}
}

.deepdrum-buttons-controller {
	display: flex;
    text-align: center;
    padding: 0px 0;
    height: 7%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px auto;
    @include mobile {
    	height: 7%;
    	padding: 0;
    	width: 100%;
    	margin: 0;
    }
    @include tablet {
    	height: 10%;
    	padding: 0;
    	width: 100%;
    	margin: 0;
    }
}

.deepdrum-playback-controller {
	display: flex;
	justify-content: center;
	width: 100%;
	@include mobile {
	    justify-content: space-evenly;
	    flex-wrap: wrap;
	}
}

.deepdrum-step-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.deepdrum-step-boxes-off {
	flex: 1;
    background-color: #1d1d1dad;
    border-radius: 2px;
    border: none;
    margin: 2px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.deepdrum-step-boxes-on {
	flex: 1;
	background-color: #ec2e5a;
    border-radius: 2px;
    border: none;
    margin: 2px;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.deepdrum-step-boxes-image {
	flex: 1;
	background-color: transparent;
    border-radius: 2px;
    border: none;
    margin: 2px;
    cursor: pointer;
    display: flex;

    @include mobile {
    	cursor: default;
    }

    @include tablet {
    	cursor: default;
    }
}

.deepdrum-step-boxes-off:focus {
	outline: none;
}

.deepdrum-step-boxes-on:focus {
	outline: none;
}

.deepdrum-step-boxes-off:hover {
	background-color: rgba(255,255,255,0.3);
}

.deepdrum-play {
	height: 100%;
	width: 100%;
    background-color: #fff !important;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-image: url(../images/play.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
    margin: 0;
    border: none;
}

.deepdrum-play:hover {
	box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 14px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.deepdrum-play:focus {
	outline: none;
}

.deepdrum-record {
	height: 100%;
	width: 100%;
    background-color: #f62e2e;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-image: url(../images/record-stop.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
    margin: 0;
    border: none;
}

.deepdrum-record:hover {
	box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 14px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.deepdrum-record:focus {
	outline: none;
}

.deepdrum-regenerate {
	height: 100%;
	width: 100%;
    background-color: #f62e2e;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-image: url(../images/regenerate.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    cursor: pointer;
    margin: 0;
    border: none;
}

.deepdrum-regenerate:hover {
	box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 14px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.deepdrum-regenerate:focus {
	outline: none;
	background-color: #ec3434 !important;
}

.deepdrum-instrument-container {
	display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    overflow-x: scroll;
    position: relative;
    margin-right: 10px;
    @include mobile {
    	height: auto;
		overflow-x: scroll;
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	}
}

.deepdrum-indicator {
	background-color: #9f64d9;
}

.deepdrum-kick {
	background-color: #f62e2e;
}

.deepdrum-snare {
	background-color: #f62e2e;
}

.deepdrum-hihat-closed {
	background-color: #f62e2e;
}

.deepdrum-hihat-open {
	background-color: #f62e2e;
}

.deepdrum-tom-low {
	background-color: #f62e2e;
}

.deepdrum-tom-mid {
	background-color: #f62e2e;
}

.deepdrum-tom-high {
	background-color: #f62e2e;
}

.deepdrum-clap {
	background-color: #f62e2e;
}

.deepdrum-ride {
	background-color: #f62e2e;
}

.deepdrum-bass {
	background-color: #f62e2e;
}

.deepdrum-synth {
	background-color: #f62e2e;
}

.deepdrum-instrument-image {
	background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 15px;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    @include mobile {
    	background-size: 15px;
    }
}

.deepdrum-instrument-image:focus {
	outline: none;
}

.deepdrum-content-container {
	background-color: white;
}

.deepdrum-content {
	width: 60%;
    padding: 20px;
    margin: 0px auto;
    @include mobile {
    	width: 100%;
    }
    @include tablet {
    	width: 90%;
    }
    ul, li {
    	list-style-type: circle !important;
    }
    h3 {
    	font-size: 2rem;
    	margin: 0;
    }
}

.deepdrum-seed-indicator {
	background-color: #4040408a;
}

.deepdrum-share {
	z-index: 2;
    position: fixed;
    top: 5px;
    right: 05px;
}

.text-property span {
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 11px;
    background-color: #040c11;
    border: 1px solid #1e1d1f;
    color: #ffffff;
    @include mobile {
    	font-size: 8px;
    }
}

.deepdrum-select {
	display: block;
    background-color: #f62e2e;
    width: 90px;
    padding: 5px;
    border: 1px solid #f62e2e;
    border-radius: 2px;
    height: 2rem;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    margin: 20px auto;
    @include mobile {
    	font-size: 10px;
    	height: 2rem;
        margin: 10px auto;
    }
}

.deepdrum-select:focus {
	outline: 1px solid transparent;
}

.btn-back-to-blog {
	height: 60px;
    width: 150px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #694783;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.btn-back-to-blog:hover {
	text-decoration: none;
	background-color: #ffc83d;
	color: black !important;
}

.thumb {
	display: none;
}

.deepdrum-step-buttons-indicator {
	width: 1px !important;
    height: 3px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18181b;
    margin-top: 10px
}

.deepdrum-step-wrapper .deepdrum-step-buttons:nth-child(4n+1) {
	margin-right: 10px;
}

.box-dial-scale {
	display: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-description {
	color: #858585;
    font-size: 11px;
    margin: 0px !important;
    font-family: "Muli";
    line-height: 20px;
    @include mobile {
    	font-size: 8px;
    }
}

.hide-box {
	display: none;
}

.deepdrum-arp-box-wrapper {
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	height: 30%;
	border-top: none;
	width: 100%;

	@include mobile {
		height: 30%;
		overflow-x: scroll;
	}
}

.deepdrum-piano-box {
	width: 100%;
}

.deepdrum-piano {
	margin: 0 auto;
}

.deepdrum-arp-box {
	display: flex;
	width: 100%;
	height: 15%;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
	margin: 0px auto;
	background-color: transparent;
	
	@include mobile {
		padding: 0;
		width: 100%;
		height: 10%;
	}
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	    margin: 0 3px !important;
    	padding: 5px !important;
	}

	li {
		width: 100%;
	    background-color: #242424ad;
	    color: #8d8d8d;
	    padding: 0px 8px;
	    font-size: 8px;
	    cursor: pointer;
	    margin: 2px;
	    border-radius: 5px;
	}
}

.btns-tag-plus {
	background-color: #f62e2e !important;
    color: black !important;
}

.deepdrum-arp-add-btn-box {
	display: flex;
    flex-direction: column;
}

.deepdrum-arp-btn {
	color: #000;
    background-color: #f62e2e;
    height: 100%;
    border: 0;
    border-radius: 5px;
    font-size: 11px;
    padding: 5px 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.deepdrum-arp-btn:focus {
	outline: none;
}

.dial-volume {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
}

.dial-pan {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 5px;
}

.deepdrum-tag-text {
	margin-bottom: 0 !important;
    font-size: 9px;
    margin-top: 0 !important;
    display: flex;
    align-items: center;
    color: #949494;
    padding: 0 15px;
    width: 70px;
}

.deepdrum-pattern-tag {
	display: flex;
	height: 5%;
	padding-bottom: 1%;
	@include mobile {
		height: 5%;
		padding-bottom: 3%;
	}
}

.deepdrum-tag-holder {
	display: flex;
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid #ffffff0f;
    border-bottom: 1px solid #ffffff0f;
    padding-left: 25px;
    @include mobile {
    	padding-left: 15px;
    }
}

.deepdrum-tag-holder button {
	width: auto;
    background-color: #1c1c1f;
    color: #8d8d8d;
    border: none;
    font-size: 8px;
    padding: 0px 10px;
    cursor: pointer;
}

.deepdrum-tag-holder button:focus {
	outline: none;
}

.deepdrum-timeline-container {
	overflow: hidden;
	display: flex;
	height: 7%;
	border-top: 1px solid #ffffff0f;
}

.deepdrum-timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	position: relative;
}

.deepdrum-timeline-pattern-box {
	height: 100%;
	background: #f62e2e;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: black;

	p {
		margin: 0 !important;
    	padding: 0 !important;
    	font-weight: bold;
    	font-size: 10px;
    	color: white;
	}

	span {
		position: absolute;
	    bottom: 2px;
	    font-size: 10px;
	    cursor: pointer;
	}

	span:hover {
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		transform: scale(1.1);
	}
}

.deepdrum-timeline-add {
	padding: 0 !important;
    width: 40px;
    background-color: #ffffff;
    border: 0;
    color: black;
    height: 100%;
    cursor: pointer;
    background-image: url("../images/add_timeline.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
}

.deepdrum-timeline-add:focus {
	outline: none;
}

.deepdrum-timeline-clear {
	padding: 0 !important;
    width: 40px;
    background-color: #f62e2e;
    border: 0;
    color: black;
    height: 100%;
    cursor: pointer;
    background-image: url("../images/clear_timeline.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
}

.deepdrum-timeline-clear:focus {
	outline: none;
}

.deepdrum-highlighter {
	box-shadow:
    0 0 30px 10px #fff,
    0 0 60px 20px #f0f,
    0 0 90px 30px #0ff;
}

.deepdrum-timeline-indicator {
	height: 100%;
	width: 2px;
	background-color: white;
    position: absolute;
    z-index: 1;
    left: 0;
}

.note-name {
	background-color: #ec3434 !important;
	color: white !important;
}

.deepdrum-arp-note {
	background-color: #ec3434 !important;
	color: white !important;
}

.deepdrum-beta {
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 11px;
	color: #ffffff38;

	@include mobile {
		right: 10px;
	}
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.deepdrum-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    font-size: 13px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50px;
}

.deepdrum-snackbar-show {
    visibility: visible; 
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.deepdrum-settings {
	background-image: url("../images/settings.png");
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	width: 25px;
	height: 21px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.deepdrum-settings:focus {
	outline: none;
}

.deepdrum-modal-settings {
	display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    overflow: scroll;
    padding-top: 600px;

    @include mobile {
    	padding-top: 500px;
    	padding-bottom: 100px;
    }
}

.deepdrum-settings-box {
    width: 55%;
    margin: 0 auto;
}

.deepdrum-modal-settings-wrapper {
	width: 100%;
}

.deepdrum-modal-settings h3 {
	color: #fff;
	font-weight: 100;
}

.deepdrum-modal-close {
	position: fixed;
    top: 10px;
    right: 15px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    font-family: Roboto;
    color: black;
    border: none;
    background-color: #f62e2e;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1000;
}

.deepdrum-modal-close:focus {
	outline: none;
}

.deepdrum-modal-close:hover {
	transform: scale(1.2);
}


.deepdrum-modal-settings-holder {
	width: 40%;

	@include tablet {
		width: 40%;
	}

	@include mobile {
		width: 100%;
	}
}

.deepdrum-modal-settings-container {
	padding-bottom: 20px;
    border-bottom: 1px solid #1d1d1d;
}

.deepdrum-settings-flex {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 260px;
    margin: 0 auto;
}

.text-settings {
	font-size: 11px;
    color: #ffffff;
    flex: 1;
    text-align: left;
    font-family: "Roboto";
}

.text-settings-value {
	font-size: 11px;
    color: #f62e2e;
    padding: 0 10px;
}

.deepdrum-modal-apply {
	position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../images/apply.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

img.avengers-logo {
    width: 30px;
    position: absolute;
    left: 45px;
    top: 15px;
    @include mobile {
    	position: initial;
    }
}

.deepdrum-modal-apply:focus {
	outline: none;
}

.deepdrum-modal-apply:hover {
	transform: scale(1.2);
}

.deepdrum-container ::-webkit-scrollbar {
    width: 1px !important;
    height: 8px !important;
}

.deepdrum-container ::-webkit-scrollbar-track {
    background: #0c0c0c !important; 
    height: 5px !important;
}

.deepdrum-container ::-webkit-scrollbar-thumb {
    background: #ffffff0f !important; 
}

.deepdrum-container::-webkit-scrollbar-thumb:hover {
    background: #111 !important; 
}

.deepdrum-step-wrapper:last-child {
	padding-bottom: 5px;
}

.deepdrum-pattern-indicator {
	position: absolute;
	width: 2px;
	background-color: white;
	box-shadow: -2px -1px 14px 1px #a853e6;
	z-index: 1;
}

.deepdrum-arp-container-controls {
	flex-direction: row !important;
}

.deepdrum-arp-hold-container {

}

.deepdrum-arp-hold {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    margin: 10px 20px;
    transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 2px solid #0000002b;
    background-image: url("../images/magic.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}

.deepdrum-arp-hold:focus {
	outline: none;
}

.deepdrum-gpad-box {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.deepdrum-gpad-cell {
    height: 200px;
    flex: 1;
    background-color: #18181b;
    border-right: 1px solid #29272e;
}

.deepdrum-gpad-bubble {
	width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
	box-shadow: 0 0 0 3px rgba(111,148,182,0.05);
	-webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
}

@keyframes neon6 {
	from {
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
	}
	to {
		box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	}
}